body {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
}

.first-section {
    background-image: url(images/shape/Frame\ 58.jpg);
    background-repeat: no-repeat;
}

.fixeable-container {
    display: flex;
}

.half-width-text {
    width: 50%;
    padding: 140px 0px 30px 300px;
    color: rgb(90, 88, 88);
}

.half-width-img {
    width: 50%;
    padding: 100px 300px 30px 0px;
}

.half-width-img img {
    width: 350px;
    height: 350px;
}

.order-click {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

#second-picture {
    padding: 40px 0px 0px 200px;
}

#secound-text {
    padding: 90px 50px 0px 0px;
}

.half-width-text p {
    padding-bottom: 50px;
}

.secound-section {
    background-image: url(images/shape/Frame\ 57.jpg);
    background-repeat: no-repeat;
}

.therd-section {
    background-color: rgb(236, 238, 239);
    margin-top: -26px;
    width: 100%;
}

.therd-section h1 {
    padding-top: 40px;
}

.therd-section h1,
p {
    color: rgb(70, 70, 70);
    text-align: center;

}

.praragrap {
    text-align: left;
    padding-left: 20px;
    color: black;
}

.headding {
    padding-left: 20px;
}

.left-img {
    box-shadow: 1px 2px 20px rgb(224, 105, 105);
    margin: 30px 140px 20px 50px;
    border-radius: 25px;
    width: 40%;

}

.right-img {
    box-shadow: 1px 2px 20px rgb(224, 105, 105);
    margin: 30px 40px 20px 0px;
    border-radius: 25px;
    width: 40%;
}

.left-img img {
    width: 450px;
    padding: 20px 20px;
    border-radius: 30px;

}

.right-img img {
    width: 450px;
    padding: 20px 20px;
    border-radius: 30px;
}

#subscriber {
    margin: 0px 50px;
    background-color: white;
    border-radius: 25px;

}

.view-one {
    padding: 60px 100px;
}

.view-two {
    padding: 60px 100px;
}

.view-three {
    padding: 60px 100px;
}

#subscriber>div {
    h1 {
        font-size: 50px;
    }
}

.four-Section {
    background-color: black;
    padding: 60px;
}

.four-Section h2,
p {
    text-align: center;
    color: white;
}

.four-Section span {
    color: orange;
}